<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>AppGroupId</key>
		<string>$(CUSTOM_GROUP_ID)</string>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>HealthWallet.me</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>health_wallet</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.techstackapps.healthwallet</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>healthwallet</string>
					<string>ShareMedia-com.techstackapps.healthwallet</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FlutterDeepLinkingEnabled</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>https</string>
			<string>http</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>HealthWallet uses Bluetooth to discover nearby devices for secure peer-to-peer health record sharing.</string>
		<key>NSBonjourServices</key>
		<array>
			<string>_airdrop-service._tcp</string>
			<string>_airdrop-service._udp</string>
		</array>
		<key>NSCameraUsageDescription</key>
		<string>Enable your camera to securely connect to your health provider by scanning their QR code and syncing your health records.</string>
		<key>NSFaceIDUsageDescription</key>
		<string>Protect user health records using biometric (FaceID / passcode) authentification.</string>
		<key>NSLocalNetworkUsageDescription</key>
		<string>HealthWallet uses the local network to share health records with nearby devices.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>Allow access to save shared medical documents to your health records.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>To upload photos, please allow permission to access your photo library.</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
	</dict>
</plist>
